:root {
  --primary: #F22738;
  --secondary: #3D6373;
    --info:  #5DA6A6;
    --success:#8FBFA4;
    --dark:#1e1e23;
}


html, body {
    height: 100%;
        background-color: #212529;
        font-family: system-ui, -apple-system, "Helvetica Neue", "Segoe UI", Roboto, Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight:300;
}

.full-height{
    height:100%;
}

.main{
    background-color: #212529;
    color:white;
}

/* Color Theme Swatches in Hex */
.No-Turning-Back-1-hex { color: #F22738; }
.No-Turning-Back-2-hex { color: #3D6373; }
.No-Turning-Back-3-hex { color: #5DA6A6; }
.No-Turning-Back-4-hex { color: #8FBFA4; }
.No-Turning-Back-5-hex { color: #BDF2D0; }

/* Color Theme Swatches in RGBA */
.No-Turning-Back-1-rgba { color: rgba(242, 38, 55, 1); }
.No-Turning-Back-2-rgba { color: rgba(60, 99, 114, 1); }
.No-Turning-Back-3-rgba { color: rgba(92, 165, 165, 1); }
.No-Turning-Back-4-rgba { color: rgba(143, 191, 164, 1); }
.No-Turning-Back-5-rgba { color: rgba(188, 242, 207, 1); }

/* Color Theme Swatches in HSLA */
.No-Turning-Back-1-hsla { color: hsla(354, 88, 55, 1); }
.No-Turning-Back-2-hsla { color: hsla(196, 30, 34, 1); }
.No-Turning-Back-3-hsla { color: hsla(180, 29, 50, 1); }
.No-Turning-Back-4-hsla { color: hsla(146, 27, 65, 1); }
.No-Turning-Back-5-hsla { color: hsla(140, 67, 84, 1); }


.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
